/* index.css */

/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #4a90e2;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
}

/* SortBar Styles */
.SortBar {
  margin-bottom: 20px;
}

.SortBar select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Bot Collection and Army Styles */
.BotCollection,
.BotArmy {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.BotCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.2s;
}

.BotCard:hover {
  transform: scale(1.05);
}

.BotCard img {
  max-width: 100%;
  border-radius: 10px;
}

.BotCard h3 {
  font-size: 1.25rem;
  margin: 10px 0;
}

.BotCard p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.BotCard button {
  padding: 8px 12px;
  background-color: #ff4f5a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.BotCard button:hover {
  background-color: #ff2e3c;
}

.BotArmy {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #ccc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .BotCollection,
  .BotArmy {
    grid-template-columns: 1fr; /* Stack the bot cards in a single column on smaller screens */
  }
}

.bot-collection,
.flexing-army {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

.remove_button {
  background-color: red;
  color: #fff;
  width: 200px;
  outline: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.yellow-background {
  background-color: yellow;
}

